@media screen and (max-width: 900px) {

    hr {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .nav-links {
        display: none;
    }

    /* Inicio Header */

    .header-container {
        display: flex;
        padding: 15% 3%;
        justify-content: center;
    }

    .header-left {
        flex: 100%;
        text-align: center;
    }

    .header-right {
        flex: 100%;
        padding: 5% 0;
    }

    .header-left:first-child {
        order: 2;
    }

    .header-right:last-child {
        order: 1;
    }


    .header-left h1 {
        font-size: 40px;
    }

    /* Fim Header */

    /* Inicio Main */

    #card-resposive-none{
        display: none !important;
    }
    
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    .main-container-card{
        margin: 400px 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
    .main-container-card{
        margin: 0;
    }
}