.header-container{
    height: 900px;
    display: flex;
    padding: 3% 0;
    flex-flow: row wrap;
}

.header-left{
    flex: 45%;
    align-content: center;
}

.header-left h2{
    letter-spacing: 3px;
}

.header-left h1{
    font-size: 50px;
}

.header-left p{
    margin: 20px 0;
    text-align: justify;
}

.header-left .header-btn{
    margin: 20px 0;
    padding: 24px 48px;
    background-color: #00FFCC;
    color: #263238;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
}

.header-left .header-btn:hover{
    background-color: #00ac89;
}

.header-right{
    flex: 45%;
}
